body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.header {
    font-size: 18px;
    font-weight: bold;
    color: #ff6699;
    margin-bottom: 10px;
}
.box {
    border: 1px solid #ccc;
    /* padding: 10px; */
    /* margin-bottom: 10px; */
    /* border-radius: 5px; */
    text-align: left;
    cursor: pointer;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
    background-color: white;
    position: relative;
}
.discount {
    background-color: #ff6699;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 5px;
}


.container-box {
    width: 70%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.field {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
select {
    /* width: 100%; */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
}

.index-col{
    margin-top: 12px; 
    width: 15%;
    font-size: 12px; 
}



.box.active {
    border-color: #ff6699 !important;
    background-color: #ffe6ec !important;
}
.extra-fields {
    display: none;
    margin-top: 10px;
}
.most-popular {
    font-size: 14px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: -10px;
    right: 10px;
    background: #ff6699;
    padding: 3px 8px;
    border-radius: 5px;
}
.price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.strikethrough {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.price-delivery{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.free-delivery {
    color: #ff6699;
}
.add-to-cart {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #ff6699;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.make-in-row{
    display: flex;
    justify-content: space-between;
}

.sponscer{
    text-align: right; 
    margin-top: 6px;
    color:gray; 
    font-size: 14px;
}